.card {
  box-shadow: var(--box-shadow);
  border-radius: 0.25rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--font-primary);
}

.card h3 {
  font-weight: 700;
}