.list {
  padding: 1rem;
  width: 100%;
}

.list__column-input input,
.list__column-input select {
  margin-top: 0.5rem;
}


.table-footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid var(--button-secondary);
  border-top: none;
  border-collapse: collapse;
}