table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  border: 1px solid var(--button-secondary);
  padding: 8px;
  text-align: left;
  width: 25%;
}

table th {
  background-color: var(--table-header);
}

/* Cor de fundo para linhas pares */
table tbody tr:nth-child(even) {
  background-color: var(--table-row);
}

/* Cor de fundo para linhas ímpares */
table tbody tr:nth-child(odd) {
  background-color: var(--background-primary)
}